<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <a :href="url">The best website ever</a>
      <div v-if="showBook">
        <ul>
          <li
            v-for="book in filterBooks"
            :class="{fav: book.isFav}"
            @click="toggleFav(book)"
          >
            <img :src="book.img" :alt="book.title" />
            <h3>{{book.title}}</h3>
            <p>{{book.author}}</p>
          </li>
        </ul>
      </div>
      <button v-on:click="age++">Increase age</button>
      <button v-on:click="age--">Decrease age</button>
      <div @click="changeTitle('A new adventure')">Change book title</div>
      <button @click="toggleShowBooks">
        <span v-if="showBook">Hide books</span>
        <span v-else>Show books</span>
      </button>
    </div>
    <script src="app.js"></script>
  </body>
</html>
